<!DOCTYPE html>
<html>
  <head>
    <title>AwesomeAnswers2020</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= flash[:notice] || flash[:alert] %>

<ul class = "navbar">
  <li class="navitem"><%= link_to "Contact_Us", contact_us_path %></li>
  |
  <li class="navitem"><%= link_to "New Question", new_question_path %></li>
  |
  <li class="navitem"><%= link_to "All Question", questions_path %></li>
</ul>
    <%= yield %>
  </body>
</html>
